body {
    background: rgb(72,54,180);
    background: radial-gradient(circle, rgba(72,54,180,1) 21%, rgba(30,15,79,1) 100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Concert One', cursive;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    position: relative;

    &::before {
        content: "";
        opacity: .1;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("/assets/bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Game

.game {
    width: 300px;
    height: 300px;
    background: #9982e1;
    // background: radial-gradient(circle, rgba(111,78,215,1) 21%, rgba(102,73,196,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // padding: 15px;
    position: relative;
    gap: 2px;
    border: 2px solid #9982e1;
    box-shadow: -1px -1px 200px #9982e1;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: none;
        place-content: center;
        opacity: .5;
        color: #ffffff;
        font-size: 24px;
        text-transform: uppercase;
    }


    &__item-wrapp {
        background-color: #332167;
        display: grid;
        place-content: center;
        cursor: pointer;
        // border-radius: 15px;
        position: relative;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0px 0px 50px #9982e1;    
    }


    &__item {
        width: 70px;
        height: 70px;
    }

    &__item-o {
        border: 20px solid #ffd652;
        border-radius: 50%;
        animation: apear .5s cubic-bezier(.42,.97,.52,1.49);
    }

    &__item-x {
        height: 70px;
        width: 20px;
        background: #ea1851;
        transform: rotate(45deg);
        position: relative;
        animation: rotate .5s cubic-bezier(.42,.97,.52,1.49);


        &::after {
            content: '';
            position: absolute;
            height: 70px;
            width: 20px;
            background: #ea1851;
            transform: rotate(-90deg);


        }
    }
}

@keyframes apear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidein-left {
    0% {
        display: none;
        transform: translateX(-1000px);
    }

    100% {
        display: flex;
        transform: translateX(0px);
    }
}

@keyframes slidein-right {
    0% {
        display: none;
        transform: translateX(1000px);
    }

    100% {
        display: flex;
        transform: translateX(0px);
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(180deg) scale(0);
    }

    100% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

@keyframes cut {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}


.alert {
    background: #322167;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 520px;
    transform: translate(-50%,-50%);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 100;
    display: none;
    border-radius: 15% 20% 15% 20%;
    box-shadow: inset -1px -1px 20px #9982e1;

    &__img {
        width: 40%;
        height: 40%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    &--username {
        display: none;
    }

    &__title {
        font-size: 28px;
    }

    &__subtitle {
        font-size: 15px;
        color: rgba(#ffff, .8);
        font-weight: 400;
        margin-bottom: 20px;
    }

    &--file {
        display: none;
    }

    &--chose {
        display: none;
    }
}


.btn {
    background: #6663dc;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    box-shadow: inset -7px -20px 0px 0px #5553c2 ;

    &--alternative {
        border-radius: 6px;
        padding: 10px 20px;
        margin-top: 25px;
    }
}

.player {
    background: #332167;
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 200px;
    box-shadow: inset -10px -10px 0px 0px #25184c34;

    &__turn {
        position: absolute;
        top: -80px;
        font-size: 20px;
    }

    &--left {
        animation: 1s slidein-left cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &--right {
        animation: 1s slidein-right cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__title {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        margin-bottom: 5px;
    }

    &__name-wrapp {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 14px;
            cursor: pointer;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 18px;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
    }

    &__item {
        width: 50px;
        height: 50px;
        margin-top: 15px;
    }

    &__o {
        border: 15px solid #ffd652;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: apear 1s cubic-bezier(.42,.97,.52,1.49);
    }

    &__x {
        width: 50px;
        height: 50px;
        position: relative;
        display: grid;
        place-items: center;
        animation: apear 1s cubic-bezier(.42,.97,.52,1.49);
    }

    &__x-line {
        width: 15px;
        height: 100%;
        background: #ff4580;
        position: absolute;
    }

    &__x-line:nth-child(1) {
        transform: rotate(45deg);
    }

    &__x-line:nth-child(2) {
        transform: rotate(-45deg);
    }

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 6px solid #e6e7fc;
        margin-top: -50px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.392);

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.input {
    background: #432380;
    border: none;
    padding: 10px 15px;
    border-radius: 9px;
    width: 100%;
    color: #fff;

    &:focus {
        outline: none;
    }
}



.input::placeholder {
    color: rgba(#ffff, .8);
}

.chose-oponent {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #432380;
    border: 2px dashed #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: grid;
    place-items: center;
    overflow: hidden;

    &__img {
        width: 50%;
        height: 50%;
        filter: drop-shadow(10em 0 0px #fff);
        left: -10em;
        position: relative;
    }
}

// Cube

.container {
    width: 300px;
    height: 300px;
    perspective: 900px;
    margin: 100px;
  }
  
  .cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 45deg);
    animation: rotate3d 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .face {
    width: 300px;
    height: 300px;
    background: skyblue;
    position: absolute;
    opacity: 1;
  }

  .front {
    transform: translateZ(150px);
  }

  .back {
    transform: translateZ(-150px) rotateY(180deg);
  }

  .left {
    transform: translateX(-150px) rotateY(-90deg);
  }
  
  .right {
    transform: translateX(150px) rotateY(90deg);
  }

  .top {
    transform: translateY(-150px) rotateX(90deg);
  }
  
  .bottom {
    transform: translateY(150px) rotateX(-90deg);
  }

  @keyframes rotate3d {

    0% {
        transform: rotate3d(1, 1, 0, 900deg) scale(2);
    }

    100% {
        transform: rotate3d(1, 1, 0, 45deg) scale(1);
    }
  }

//   Resulkt

.result {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 250px;

    &__wrapp {
        text-align: center;
    }
}