body {
  background: #4836b4;
  background: radial-gradient(circle, #4836b4 21%, #1e0f4f 100%);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: "Concert One", cursive;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  position: relative;
}
body::before {
  content: "";
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/Untitled-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game {
  width: 300px;
  height: 300px;
  background: #9982e1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 2px 1fr 2px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  gap: 2px;
  border: 2px solid #9982e1;
  -webkit-box-shadow: -1px -1px 200px #9982e1;
          box-shadow: -1px -1px 200px #9982e1;
}

.game > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.game > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.game > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.game > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.game > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.game > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.game > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.game > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.game > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.game__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  place-content: center;
  opacity: 0.5;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}
.game__item-wrapp {
  background-color: #332167;
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 0px 0px 50px #9982e1;
          box-shadow: 0px 0px 50px #9982e1;
}
.game__item {
  width: 70px;
  height: 70px;
}
.game__item-o {
  border: 20px solid #ffd652;
  border-radius: 50%;
  -webkit-animation: apear 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
          animation: apear 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}
.game__item-x {
  height: 70px;
  width: 20px;
  background: #ea1851;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  -webkit-animation: rotate 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
          animation: rotate 0.5s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}
.game__item-x::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 20px;
  background: #ea1851;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@-webkit-keyframes apear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes apear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes slidein-left {
  0% {
    display: none;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slidein-left {
  0% {
    display: none;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes slidein-right {
  0% {
    display: none;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slidein-right {
  0% {
    display: none;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes rotate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes cut {
  0% {
    width: 0px;
  }
  100% {
    width: 85%;
  }
}
@keyframes cut {
  0% {
    width: 0px;
  }
  100% {
    width: 85%;
  }
}
.alert {
  background: #322167;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  z-index: 100;
  display: none;
  border-radius: 15% 20% 15% 20%;
  -webkit-box-shadow: inset -1px -1px 20px #9982e1;
          box-shadow: inset -1px -1px 20px #9982e1;
}
.alert__img {
  width: 40%;
  height: 40%;
}
.alert form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
}
.alert--username {
  display: none;
}
.alert__title {
  font-size: 28px;
}
.alert__subtitle {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  margin-bottom: 20px;
}
.alert--file {
  display: none;
}
.alert--chose {
  display: none;
}

.btn {
  background: #6663dc;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  -webkit-box-shadow: inset -7px -20px 0px 0px #5553c2;
          box-shadow: inset -7px -20px 0px 0px #5553c2;
}
.btn--alternative {
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 25px;
}

.player {
  background: #332167;
  padding: 25px;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 200px;
  -webkit-box-shadow: inset -10px -10px 0px 0px #25184c34;
          box-shadow: inset -10px -10px 0px 0px #25184c34;
}
.player__turn {
  position: absolute;
  top: -80px;
  font-size: 20px;
}
.player--left {
  -webkit-animation: 1s slidein-left cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: 1s slidein-left cubic-bezier(0.165, 0.84, 0.44, 1);
}
.player--right {
  -webkit-animation: 1s slidein-right cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: 1s slidein-right cubic-bezier(0.165, 0.84, 0.44, 1);
}
.player__title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  margin-bottom: 5px;
}
.player__name-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.player__name-wrapp i {
  font-size: 14px;
  cursor: pointer;
}
.player__name {
  text-transform: uppercase;
  font-size: 18px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}
.player__item {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
.player__o {
  border: 15px solid #ffd652;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: apear 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
          animation: apear 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}
.player__x {
  width: 50px;
  height: 50px;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: apear 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
          animation: apear 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}
.player__x-line {
  width: 15px;
  height: 100%;
  background: #ff4580;
  position: absolute;
}
.player__x-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.player__x-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.player__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid #e6e7fc;
  margin-top: -50px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.392);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.392);
}
.player__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.input {
  background: #432380;
  border: none;
  padding: 10px 15px;
  border-radius: 9px;
  width: 100%;
  color: #fff;
}
.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.chose-oponent {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #432380;
  border: 2px dashed #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.chose-oponent__img {
  width: 50%;
  height: 50%;
  -webkit-filter: drop-shadow(10em 0 0px #fff);
          filter: drop-shadow(10em 0 0px #fff);
  left: -10em;
  position: relative;
}

.container {
  width: 300px;
  height: 300px;
  -webkit-perspective: 900px;
          perspective: 900px;
  margin: 100px;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(1, 1, 0, 45deg);
          transform: rotate3d(1, 1, 0, 45deg);
  -webkit-animation: rotate3d 2s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: rotate3d 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.face {
  width: 300px;
  height: 300px;
  background: skyblue;
  position: absolute;
  opacity: 1;
}

.front {
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
}

.back {
  -webkit-transform: translateZ(-150px) rotateY(180deg);
          transform: translateZ(-150px) rotateY(180deg);
}

.left {
  -webkit-transform: translateX(-150px) rotateY(-90deg);
          transform: translateX(-150px) rotateY(-90deg);
}

.right {
  -webkit-transform: translateX(150px) rotateY(90deg);
          transform: translateX(150px) rotateY(90deg);
}

.top {
  -webkit-transform: translateY(-150px) rotateX(90deg);
          transform: translateY(-150px) rotateX(90deg);
}

.bottom {
  -webkit-transform: translateY(150px) rotateX(-90deg);
          transform: translateY(150px) rotateX(-90deg);
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 270deg);
            transform: rotate3d(1, 1, 0, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 45deg);
            transform: rotate3d(1, 1, 0, 45deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 270deg);
            transform: rotate3d(1, 1, 0, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 45deg);
            transform: rotate3d(1, 1, 0, 45deg);
  }
}
.result {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
}
.result__wrapp {
  text-align: center;
}